@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;


$mainFontColor: #444;
$linkFontColor: #008CBA;
$linkHoverColor: #0078A0;
$headlineFont: 'Montserrat', sans-serif;
$bodyFont: 'Raleway', sans-serif;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;}

  h1, h2, h3, h4, h5, p{
    color: $mainFontColor;
  }

  p, a{
    font-family: $bodyFont;
  }

  h1, h2, h3, h4, h5{
    font-family: $headlineFont;
  }

  a{
    color:$linkFontColor;
    &:hover{
      color: $linkHoverColor;
    }
  }
  ul
  {
      list-style-type: none;
  }


.row{
    max-width:100%;
  }

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  background-color: white;
  // background-color: #daecf7;
  -webkit-box-shadow: 0px 10px 40px -13px rgba(0,0,0,0.70);
  -moz-box-shadow: 0px 10px 40px -13px rgba(0,0,0,0.70);
  box-shadow: 0px 10px 40px -13px rgba(0,0,0,0.70);
  z-index: 2;
  li{
    padding: 0px;
    text-align: center;
    width: 20%;
    list-style: none;
    &:after{
      content:'';
      display:block;
      height:1px;
      width:0;
      margin:auto;
      background: transparent;
      transition: width 0.5s ease, background 0.5s ease;
    }
    &:nth-of-type(3){
      a{
        color: #000;
      }
      &:after{
        height:0;
      }
    }
    &:hover:after{
        width:90%;
        background:$mainFontColor;
    }
    &:nth-of-type(3){
      border-width:0px;
      &:hover{
        border-width:0px;
      }
    }
    a{
      color:$mainFontColor;
      font-family: $headlineFont;
      font-weight: bold;
      display:block;
      width:100%;
      height:100%;
    }
  }
}

.cover{
  height:100%;
}

.homePage{
  width:100%;
  display:flex;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  text-align: center;
  background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(80, 80, 80, 0.8)), url(../assets/coffee-apple-wooden-desk.jpg);
  background-size: cover;
  background-position: center;
  h1{
    margin-top:0;
  }
  h1, h3{
    color: #000;
  }
}

h1{
  margin-top: 75px;
}

.portfolioPage{
  width:100%;
  display:flex;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  text-align: center;
  background-color: white;
  // background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(80, 80, 80, 0.8)), url(../assets/wood-floor-hd.png);
  // background-size: cover;
  // background-position: center;
  h1{
    margin-top:0;
  }
  h2{
    color: #444;
  }
}

h1{
  margin-top: 75px;
}

#about{
  width:100%;
  display:flex;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  text-align: center;
  background-color: #757575;
  // background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(80, 80, 80, 0.8)), url(../assets/wood-floor-hd.png);
  // background-size: cover;
  // background-position: center;
  h1{
    margin-top:0;
  }
  h2{
    color: white;
  }
}

.imageRow{
  max-width:75%;
  text-align: center;
  img{
    max-width:150px;
    height:auto;
    border-radius:100px;
    margin-bottom: 15px;
  }
}

h1{
  margin-top: 75px;
}

#resume{
  width:100%;
  display:flex;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  text-align: center;
  background-color: #757575;
  // background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(80, 80, 80, 0.8)), url(../assets/wood-floor-hd.png);
  // background-size: cover;
  // background-position: center;
  h1{
    margin-top:0;
  }
  h2{
    color: white;
  }
}

h1{
  margin-top: 75px;
}

.ammoLogos{
  max-width:90%;
  color:#888;
  .large-2, .medium-4, .small-6{
    text-align: center;
    margin-bottom: 50px;
  }
  .toolLogo, .colored{
    font-size:8em;
    transition: all 0.25s ease;
  }
}
